@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Home----------------------------------------*/

:root{
    --bg-color-cinza: #D9D9D9;
    --br-color-verde-escuro: #19872C;
    --font-montserrat: 'Montserrat', sans-serif;
    --bg-color-verde-claro: #3AA64D;
}

#micro_cabecalho{
    height: 40px;
    background-color: var(--bg-color-cinza);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 14px;
}

.alin_micro_cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.alin_micro_cabecalho div{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#cabecalho{
    background-color: var(--br-color-verde-escuro);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 400px;
}

.alin_cabecalho{
    display: flex;
    gap: 40px;
}

.alin_cabecalho a{
    text-decoration: none;
    color: white;
    font-family: var(--font-montserrat);
    font-weight: 500;
}

#img_modelo_home{
    width: 600px;
    margin-bottom: -4px;
}

.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px 150px;
    gap: 50px;
}

.texto_home h1{
    font-family: var(--font-montserrat);
    font-weight: 800;
    font-size: 30px;
}

.texto_home p{
    font-family: var(--font-montserrat);
    font-weight: 300;
    font-size: 15px;
    margin-top: 10px;
}

.texto_home button{
    border: none;
    background-color: var(--br-color-verde-escuro);
    width: 300px;
    height: 70px;
    color: white;
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.coloracao_verde{
    color: var(--br-color-verde-escuro);
}

.alinhamento_home{
    display: flex;
    flex-direction: row;
}

.caixa_home_maior{
    width: 33.33vw;
    background-color: var(--bg-color-verde-claro);
}

.caixa_home{
    font-family: var(--font-montserrat);
    color: white;
}

.caixa_home_central{
    padding: 60px;
    background-color: var(--br-color-verde-escuro);
}

.caixa_home{
    font-family: var(--font-montserrat);
    padding: 60px;
}

.caixa_home h3{
    font-weight: 600;
    font-size: 26px;
    margin-top: 40px;
}

.caixa_home img{
    width: 45px;
}

.caixa_home p{
    font-weight: 300;
    font-size: 22px;
    margin-top: 10px;
}

.caixa_home button{
    background-color: var(--bg-color-verde-claro);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 180px;
    height: 50px;
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 20px;
}

#caixa_home_central{
    background-color: var(--br-color-verde-escuro);
}

#caixa_home_central button{
    background-color: var(--br-color-verde-escuro);
}
/*Home----------------------------------------*/

/*Mapa----------------------------------------*/
#sessao_mapas {
    background-color: #F7FBFF;
    padding: 100px 0px;
    
}

#mapa {
    width: 665px;
    height: 300px;
    border-radius: 10px;
}

#alinhamento_mapas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.texto_mapas{
    font-family: var(--font-montserrat);
    width: 400px;
    text-align: end;
}

.texto_mapas h2{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}

.texto_mapas p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

.texto_mapas  button {
    border: none;
    background-color: #19872C;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}




/*Mapa----------------------------------------*/
