@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --bg-color-cinza: #D9D9D9;
    --font-montserrat: 'Montserrat', sans-serif;
}

/*Ingressos-----------------------------------*/
#ingressos{
    font-family: var(--font-montserrat);  
    height: 100vh;
} 
.titulo{
    margin: auto;
    padding-top: 5%;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}
.titulo h2{
    text-align: center;
}
.titulo span{
    color: #19872C;
}
.titulo p{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}