@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --bg-color-cinza: #D9D9D9;
    --br-color-verde-escuro: #19872C;
    --font-montserrat: 'Montserrat', sans-serif;
    --bg-color-verde-claro: #3AA64D;
}

/*Home----------------------------------------*/
#micro_cabecalho {
    height: 40px;
    background-color: var(--bg-color-cinza);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 14px;
}

.alin_micro_cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.alin_micro_cabecalho div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#cabecalho {
    background-color: var(--br-color-verde-escuro);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 400px;
}

.alin_cabecalho {
    display: flex;
    gap: 40px;
}

.alin_cabecalho a {
    text-decoration: none;
    color: white;
    font-family: var(--font-montserrat);
    font-weight: 500;
}

#img_modelo_home {
    width: 600px;
    margin-bottom: -4px;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px 150px;
    gap: 50px;
}

.texto_home h1 {
    font-family: var(--font-montserrat);
    font-weight: 800;
    font-size: 30px;
}

.texto_home p {
    font-family: var(--font-montserrat);
    font-weight: 300;
    font-size: 15px;
    margin-top: 10px;
}

.texto_home button {
    border: none;
    background-color: var(--br-color-verde-escuro);
    width: 300px;
    height: 70px;
    color: white;
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.coloracao_verde {
    color: var(--br-color-verde-escuro);
}

.alinhamento_home {
    display: flex;
    flex-direction: row;
}

.caixa_home_maior {
    width: 33.33vw;
    background-color: var(--bg-color-verde-claro);
}

.caixa_home {
    font-family: var(--font-montserrat);
    color: white;
}

.caixa_home_central {
    padding: 60px;
    background-color: var(--br-color-verde-escuro);
}

.caixa_home {
    font-family: var(--font-montserrat);
    padding: 60px;
}

.caixa_home h3 {
    font-weight: 600;
    font-size: 26px;
    margin-top: 40px;
}

.caixa_home img {
    width: 45px;
}

.caixa_home p {
    font-weight: 300;
    font-size: 22px;
    margin-top: 10px;
}

.caixa_home button {
    background-color: var(--bg-color-verde-claro);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 180px;
    height: 50px;
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 20px;
}

#caixa_home_central {
    background-color: var(--br-color-verde-escuro);
}

#caixa_home_central button {
    background-color: var(--br-color-verde-escuro);
}

/*Home----------------------------------------*/

/*Ingressos-----------------------------------*/
#ingressos {
    font-family: var(--font-montserrat);
    height: 100vh;
}

.titulo {
    margin: auto;
    padding-top: 5%;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

.titulo h2 {
    text-align: center;
}

.titulo span {
    color: #19872C;
}

.titulo p {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.container {
    background-color: var(--bg-color-cinza);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 5%;
    gap: 20px;
}

.item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 330px;
    width: 345px;
    filter: drop-shadow(0px 6px 10px var(--bg-color-cinza));
}

.item p {
    position: absolute;
    left: 7.54%;
    right: 6.96%;
    top: 57.88%;
    bottom: 20.3%;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.item span {
    text-align: center;
    position: absolute;
    left: 43.48%;
    right: 42.9%;
    top: 42.73%;
    bottom: 50%;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.item img {
    position: absolute;
    left: 43.48%;
    top: 21.21%;
    bottom: 65.15%;
}

/*Ingressos-----------------------------------*/

/*Diferenciais--------------------------------*/

.diferencial-content {
    background-image: url(img/bg-Diferenciais.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.texto-diferencial {
    color: #FFFFFF;
    font-family: var(--font-montserrat);
    width: 50%;
}

.texto-diferencial h2 {
    font-size: 50px;
    margin-bottom: 2rem;
    font-weight: bolder;
    text-align: left;
    padding-right: 5rem;
}

.texto-diferencial h2 span {
    color: black;
}

.texto-diferencial p {
    font-size: 25px;
}

.card-area {
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.card-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.card-section:nth-child(even) {
    justify-content: flex-start;
}

.card {
    font-family: var(--font-montserrat);
    width: 225px;
    height: 225px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1rem;
    filter: drop-shadow(0px 6px 10px #19872C);
}

.icons {
    background-color: #19872C;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15%;
}

.icons img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.card h2 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10%;
}

.card h3 {
    font-size: 1.4rem;
    text-align: center;
}

/*Diferenciais--------------------------------*/

/*Mapa----------------------------------------*/
#sessao_mapas {
    background-color: #F7FBFF;
    padding: 100px 0px;

}

#mapa {
    width: 665px;
    height: 300px;
    border-radius: 10px;
}

#alinhamento_mapas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.texto_mapas {
    font-family: var(--font-montserrat);
    width: 400px;
    text-align: end;
}

.texto_mapas h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}

.texto_mapas p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

.texto_mapas button {
    border: none;
    background-color: #19872C;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

/*Mapa----------------------------------------*/

/*Contatos--------------------------------------*/
.contatos_content {
    background-image: url(img/crop2\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.texto h2 {
    font-size: 40px;
    color: #FFFFFF;
    font-family: var(--font-montserrat);
    font-weight: bolder;
}

.texto span {
    color: #101010;
    font-family: var(--font-montserrat);
}

.texto p {
    font-size: 24px;
    color: #FFFFFF;
    font-family: var(--font-montserrat);
}

#form-contatos {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 30%;
    height: 70vh;
    padding: 4rem;
    font-family: var(--font-montserrat);
}

#form-contatos h2 {
    font-size: 30px;
    font-weight: bolder;
    width: 100%;
    margin-bottom: 1rem;
}

#form-contatos h2 span {
    color: #19872C;
    text-align: left;
    align-content: flex-start;
}

#form-contatos p {
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
}

#nome {
    font-family: var(--font-montserrat);
    font-size: 20px;
    height: 20%;
    width: 96%;
    border: 2px solid #19872C;
    border-radius: 10px;
    padding-left: 1rem;
}

#email {
    font-family: var(--font-montserrat);
    font-size: 20px;
    height: 20%;
    width: 96%;
    border: 2px solid #19872C;
    border-radius: 10px;
    padding-left: 1rem;
}

#mensagem {
    font-family: var(--font-montserrat);
    font-size: 20px;
    height: 35%;
    width: 96%;
    border: 2px solid #19872C;
    border-radius: 10px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    resize: none;
}

#enviar-btn {
    border: none;
    outline: none;
    margin-top: 3rem;
    background-color: #19872C;
    color: #FFFFFF;
    cursor: pointer;
    font-family: var(--font-montserrat);
    font-size: 20px;
    border-radius: 10px;
    height: 10%;
    width: 100%;
}

/*Contatos----------------------------------------*/